<footer>
	{{#if (eq month 'mar')}}
		<p>&copy; {{{currentYear}}} Clive Murray Research Ltd</p>
	{{else}}
		<p><small>&copy; {{!-- 2014-{{currentYear}} --}} Clive Murray</small></p>
	{{/if}}

	{{#if credit}}
		<p><small>Background photo by <a href="https://unsplash.com/{{{credit.handle}}}?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">{{{credit.name}}}</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></small></p>
	{{/if}}

</footer>
